.header {
    background: url(../../images/banner_pidum.jpg) no-repeat;
    width:940px;
    height:126px;
}

#box{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #EEEEEE;
    margin-left: 0px;
}